# Frequently used unix commands
alias l="ls -lah"
alias grp="grep -rn"
alias *="sudo"

# Git
alias gst="git st"
alias gd="git d"
alias ga="git add"
alias gci="git commit"
alias gco="git checkout"
alias gcob="git checkout -b"
alias gl="git l"
alias glg="git lg"

#Drush
alias dcc="drush cc all"
alias dfu="drush fu -y"
alias dfr="drush fr -y"
